[Unit]
Description=IKT's distributed currency daemon
After=network.target

[Service]
User=innoket
Group=innoket

Type=forking
PIDFile=/var/lib/innoketd/innoketd.pid

ExecStart=/usr/bin/innoketd -daemon -pid=/var/lib/innoketd/innoketd.pid \
          -conf=/etc/innoket/innoket.conf -datadir=/var/lib/innoketd

ExecStop=-/usr/bin/innoket-cli -conf=/etc/innoket/innoket.conf \
         -datadir=/var/lib/innoketd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
